:root {
  --primary_color: #00b3ad;
  --black_color: #000;
  --secondary_black_color: rgb(92, 92, 92);
  --tertiary_black_color: rgb(146, 146, 146);
  --white_color: #fff;
  --three_mili: all 0.3s ease;
  --primary_font_family: "Poppins", sans-serif;
  --secondary_font_family: "Bricolage Grotesque", sans-serif;
  scroll-behavior: smooth;
}

*,
::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary_font_family);
  overflow-x: hidden !important;
  max-width: 100vw !important;
  /* FONT SIZES */
  --primary_header: 2.5rem;
  --secondary_header: 2rem;
  --tertiary_header: 1.5rem;
  --body_text: 1rem;
  --label_text: 1rem;
  --four-em-margin: 6em;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 1500px) {
  body {
    /* FONT SIZES */
    --primary_header: 2.2rem;
    --secondary_header: 1.8rem;
    --tertiary_header: 1.2rem;
    --body_text: 1.1rem;
    --label_text: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  body {
    /* FONT SIZES */
    --primary_header: 2rem;
    --secondary_header: 1.5rem;
    --tertiary_header: 1.2rem;
    --body_text: 1rem;
    --label_text: 0.8rem;
    --four-em-margin: 4em;
  }
}

@media screen and (max-width: 600px) {
  body {
    /* FONT SIZES */
    --primary_header: 1.5rem;
    --secondary_header: 1.3rem;
    --tertiary_header: 1.2rem;
    --body_text: 1rem;
    --label_text: 0.8rem;
    --four-em-margin: 3em;
  }
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

/* !PREDEFINED CLASSES */
.flex {
  display: flex;
  align-items: center;
}

/* !NAVBAR STYLES */
header {
  background-color: var(--primary_color);
  justify-content: space-between;
  padding: 0 2%;
  height: 65px;
}
.nav {
  background-color: var(--primary_color);
  justify-content: space-between;
  gap: 1em;
  width: 80%;
}
.logo_link img {
  width: 300px;
  margin-right: 1em;
}

.nav_search_container {
  position: relative;
  width: min(550px, 95%);
  padding: 0.4em 0.6em;
  background-color: var(--white_color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.nav_search_container form {
  width: 100%;
}

.nav_search_input {
  font-size: var(--body_text);
  padding: 0.4em 0.6em;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
.nav_search_input:focus,
.nav_search_input:active {
  border: none;
  outline: none;
}

.search_icon {
  color: var(--secondary_black_color);
}
.filter_btn_container {
  gap: 1.5em;
}
.filter_btn {
  font-size: var(--body_text);
  font-weight: 600;
  padding: 0.6em 0.4em;
  width: 100px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: var(--three_mili);
  -webkit-transition: var(--three_mili);
  -moz-transition: var(--three_mili);
  -ms-transition: var(--three_mili);
  -o-transition: var(--three_mili);
}
.filter_btn.active,
.filter_btn:hover {
  background-color: var(--black_color);
  color: var(--white_color);
}
.hot_topic_text {
  display: none;
}
.burger_container {
  display: none;
}

/* !RESPONSIVE CSS */

@media screen and (max-width: 1180px) {
  .logo_link img {
    width: 200px;
  }
  .filter_btn_container {
    gap: 0.5em;
  }
}

@media screen and (max-width: 950px) {
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 100vh;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 2em;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: opacity 0.6s ease;
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -ms-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
  }
  .nav.active {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: opacity 0.6s ease;
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -ms-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
  }
  .hot_topic_text {
    font-size: var(--secondary_header);
    font-weight: normal;
    display: block;
    text-align: center;
    margin-bottom: 2em;
  }
  .filter_btn_container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
  }
  .burger_container {
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    cursor: pointer;

    z-index: 2;
  }
  .burger_container i {
    display: block;
    background-color: var(--black_color);
    width: 100%;
    height: 3px;
    margin-top: 7px;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
  }
  .burger_container.active i:first-child {
    transform: translateY(13px) rotate(45deg);
    -webkit-transform: translateY(13px) rotate(45deg);
    -moz-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
  }
  .burger_container.active i:last-child {
    transform: translateY(-13px) rotate(-45deg);
    -webkit-transform: translateY(-7px) rotate(-45deg);
    -moz-transform: translateY(-7px) rotate(-45deg);
    -ms-transform: translateY(-7px) rotate(-45deg);
    -o-transform: translateY(-7px) rotate(-45deg);
  }
  .burger_container.active i:nth-child(2) {
    opacity: 0;
  }
}
